figure{
  width:90%;
  height:400px;
  position:relative;
  margin: 10px;
  padding:30px;
  border: 2px solid gold;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 10px white;
}
figure img{
  width:100%;
  height:400px;
}
.effect{
  animation-name: effect;
  animation-duration: 3s;
}
@keyframes effect {
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}
figure h2{
  text-align: center;
  font-family: Comic Sans MS;
  color:white;
  position: absolute;
  top:85%;
  width:100%;
}
